/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap');

/* logo */
<img src= "books/f3d8c67e727b4ebcbe2ed121e32a28bc-free.png">

Primary [FFD6C0]	Secondary [3A606E] 	Accent 1 [E0E0E0]	Accent 2 [F3FFB6]
